@media (min-width: 1440px) {
    .cardsSection {
        padding: 0 33px;
        margin-top: 113px;
        display: flex;
        gap: 0 11px;
    }

    .cardContainer {

    }


    .cardTextContainer {
        font-size: 20px;
        width: 100%;
        height: 46px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 0 12.5px;
        margin-bottom: 22px;
    }

    .cardNumber {
        font-weight: 400;
        opacity: 20%;
    }

    .cardName {
        text-align: start;
        margin-top: 0;
        color: #E1DFE0;
    }
    .break{
        display: block;
    }

    .cardNameSpan {
        margin-bottom: 45px;
        color: #C7492A;
    }

    .cardImage {
        border: none;
        width: 335px;
        height: 396px;
        margin-bottom: 13px;
    }

    .moreDetails {
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: rgba(225, 223, 224, 0.8);
        width: 335px;
        height: 55px;
        border-radius: 500px;
        border: 2px solid #474747;
        margin-top: 13px;
        margin-bottom: 180px;
    }

    .moreDetailsArrow {
        margin-left: 9px;
    }
}


@media (min-width: 1280px) and (max-width: 1440px) {
    .cardsSection {
        padding: 0 10vw;
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cardContainer {

    }


    .cardTextContainer {
        font-size: 20px;
        width: 20vw;
        height: 46px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 0 12.5px;
        margin-bottom: 16px;
    }

    .cardNumber {
        font-weight: 400;
        opacity: 20%;
    }

    .cardName {
        text-align: start;
        margin-top: 0;
        color: #E1DFE0;
    }
    .break{
        display: none;
    }

    .cardNameSpan {
        margin-bottom: 16px;
        color: #C7492A;
    }

    .cardNameSpan::before {
        content: ' ';
    }

    .cardImage {
        border: none;
        width: 19vw;
        height: 100%;
        margin-bottom: 0px;
    }

    .moreDetails {
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: rgba(225, 223, 224, 0.8);
        width: 19vw;
        height: 55px;
        border-radius: 500px;
        border: 2px solid #474747;
        margin-top: 16px;
        margin-bottom: 180px;
    }

    .moreDetailsArrow {
        margin-left: 9px;
    }
}

@media (min-width: 360px) and (max-width: 768px) {
    .cardsSection {
        padding: 0 16px;
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 0 11px;
    }

    .cardContainer {

    }


    .cardTextContainer {
        font-size: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 0 12.5px;
        margin-bottom: 22px;
    }

    .cardNumber {
        font-weight: 400;
        opacity: 20%;
    }

    .cardName {
        text-align: start;
        margin-top: 0;
        color: #E1DFE0;
    }

    .break{
        display: none;
    }

    .cardNameSpan {
        margin-bottom: 16px;
        color: #C7492A;
    }
    .cardNameSpan::before {
        content: ' ';
    }

    .cardImage {
        border: none;
        width: 100%;
        height: 100%;
        margin-bottom: 16px;
    }

    .moreDetails {
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: rgba(225, 223, 224, 0.8);
        width: 100%;
        height: 55px;
        border-radius: 500px;
        border: 2px solid #474747;
        margin-top: 13px;
        margin-bottom: 32px;
    }

    .moreDetailsArrow {
        margin-left: 9px;
    }
}