:root {
  --dark-theme-color: #131313;
  --dark-theme-text-color: #E1DFE0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}


html{
}

body{
  background-color: var(--dark-theme-color);
  color: var(--dark-theme-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
