@media (min-width: 1440px) {
  .main {
    width: 1440px;
    font-weight: 400;
    line-height: 27.34px;
    letter-spacing: 0.13519692420959473px;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .main {
    width: 100%;
    font-weight: 400;
    line-height: 27.34px;
    letter-spacing: 0.13519692420959473px;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .main {
    width: 1440px;
    font-weight: 400;
    line-height: 27.34px;
    letter-spacing: 0.13519692420959473px;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .main{
    width: 100%;
    font-weight: 400;
    line-height: 27.34px;
    letter-spacing: 0.13519692420959473px;
  }

}

