.header{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 2px solid #242424;
    border-bottom: 2px solid #242424;
    display: flex;
    justify-content: center;
}

.navBar{
    width: 1440px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 33px;
}

.logo{
    display: flex;
    justify-content: left;
    align-items: center;
}

.logoText{
    font-size: 28px;
    font-weight: 300;
    color: #E1DFE0;
}

.burgerMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25px;
    cursor: pointer;
}

.bar {
    height: 2px;
    background-color: #C0C0C0;
    margin: 2.5px 0;
    border-radius: 30%;
}

.bar1 {
    width: 20px;
}

.bar2 {
    width: 25px;
}

.bar3 {
    width: 15px;
}